/* Default Design */
.gfg-div {
 
  /* All Elements Center */
  display: flex;
  justify-content: center;
  align-items: center;
 
  /* Default Styling */
  margin: 20px auto;
  padding: 30px;
  font-size: 30px;
  width: 300px;
  height: 300px;
  background-color: #000000;
  color: #ffffff;
}
